html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

body {
  background-color: #f5f5f5;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.nav {
  margin: 30px 24px 0 36px;
  padding: 18px 41px 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0 6px 38px 2px rgba(0, 0, 0, 0.07);
}

.nav__list {
  display: flex;
  list-style-type: none;
  gap: 54px;
  margin-left: auto;
  text-align: center;
}

.list__item {
  margin-right: 54px;
}

.list__item:nth-child(4) {
  margin-right: 0;
}

.list__item--link {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  font-size: 17px;
  cursor: pointer;
  position: relative;
}

.list__item--link :hover {
    opacity: 1;
  }

.list__item--link::before {
    transition: 250ms;
    height: 5px;
    content: "";
    position: absolute;
    background-color: #031D44;
}

.link__fade--up::before {
    width: 100%;
    bottom: 5px;
    opacity: 0;
}

.link__fade--up:hover::before {
    bottom: -5px;
    opacity: 1;
  }

.list__item--btn {
  margin-left: auto;
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
  padding: 11px 29px 13px;
  background-color: #121212;
  color: #fff;
  border-radius: 5px;
}

.list__item--btn:hover {
  background-color: #c6ff00;
  color: #121212;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.presentation {
  margin-top: 86px;
}

.title__subtitle {
  text-align: center;
}

.main__title {
  font-family: "Arimo", sans-serif;
  font-size: 70px;
  font-weight: 400;
  max-width: 895px;
  margin: 0 auto;
}

.main__subtitle {
  margin: 34px auto 71px auto;
  max-width: 713px;
  justify-content: center;
  font-family: "Space Grotesk", sans-serif;
  font-size: 20px;
  color: #5e5e5e;
}

.explanation {
  background-color: #f7f9ff;
  padding-top: 35px;
}

.explanation__container {
  max-width: 903px;
  margin: 0 auto;
}

.explan__title--box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}

.explan__title {
  font-family: "Arimo", sans-serif;
  font-size: 28px;
  font-weight: 400;
}

.explan__paragraph {
  margin: auto;
  font-family: "Space Grotesk", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #121212;
}

.cookies__text {
  margin-bottom: 8px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #5c6185;
}

.sales {
  display: flex;
  margin-top: 8px;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}

.sales__text {
  padding: 26px 26px 29px 100px;
  font-family: "Lato", sans-serif;
  font-size: 17px;
  margin-right: 26px;
  color: #fff;
}

.sales__block {
  flex-basis: 428px;
  padding: 26px 178px 24px 0;
}

.sales__text50 {
  color: #1d0b69;
  background-color: #cefe2e;
  padding: 3px 44px;
  border-radius: 4px;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
  z-index: 2;
  transition: border-color 0.5s, background-color 0.5s, color 0.5s;
}

.sales__text50:hover {
    background-color: #6A1A8E;
    border-color: transparent;
    color: #fff
}

.sales__paragraph {
  position: relative;
}

.privacy__policy {
  text-decoration: none;
  position: absolute;
  top: 8px;
  right: 132px;
  font-family: "Space Grotesk", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #5c6185;
  cursor: pointer;
}

.privacy__policy:hover {
  color: #fff;
  transition: all 1s ease-out;
}

.dev__container {
  margin-top: 82px;
  margin-left: 30px;
}

.dev__title--box {
  display: flex;
  justify-content: space-between;
  max-width: 1500px;
}

.dev__title {
  max-width: 731px;
  font-family: "Arimo", sans-serif;
  font-size: 58px;
  font-weight: 400;
  color: #2468FF;
}

.dev__title--second {
  font-size: 58px;
  font-family: "Arimo", sans-serif;
  font-weight: 400;
  color: #C6FF00;
}

.dev__title--second--box {
  padding-top: 40px;
}

.dev__text--block {
  margin-top: 63px;
  max-width: 527px;
}

.dev__text {
  font-size: 20px;
  font-family: "Space Grotesk", sans-serif;
  color: #2468FF;
  opacity: 50%;
  margin-bottom: 27px;
}

.verification__container {
  margin-top: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.verif__img {
  margin-right: 15px;
}

.benefits__text {
  margin-right: 90px;
  color: #121212;
  font-family: "Space Grotesk", sans-serif;
  font-size: 20px;
}

.strategy__container {
  margin-top: 88px;
  margin-bottom: 197px;
}

.strategy__title--subtitle {
  max-width: 813px;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
}

.strategy__title {
  font-family:  "Arimo", sans-serif;
  font-size: 58px;
  margin-bottom: 33px;
  font-weight: 400;
}

.strategy__subtitle {
  margin-left: auto;
  margin-right: auto ;
  max-width: 558px;
  font-size: 20px;
  color: #5E5E5E;
  font-family: "Space Grotesk", sans-serif;
}

.strategy__road {
  margin-top: 70px;
  display: flex;
  max-width: 1220px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.strategy__elements {
  background-color: #FAFAFA;
  max-width: 393px;
  min-height: 345px;
  position: relative;
}

.strategy__box {
  padding: 49px 164px 171px 30px;
}

.strategy__box--title {
  font-family: "Arimo", sans-serif;
  font-size: 33px;
  font-weight: 400;
  margin-bottom: 16px;
}

.geometry {
  position: absolute;
  bottom: 64px;
  left: 215px;
}

.strategy__box--text {
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
  color: #5E5E5E;
}


.blockquote__block {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dev__opinion {
  font-family: "Space Grotesk", sans-serif;
  font-size: 34px;
  margin-bottom: 65px;
  line-height: 38px;
}

.blockquote__text {
  flex-basis: 694px;
  margin-left: 70px;
}



.author {
  display: block;
  font-family: "Space Grotesk", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #0B0B0B;
  margin-bottom: 5px;
}

.author__post {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #414141;
}

.company__talents--inner {
  margin-top: 197px;
}

.company__titles {
  max-width: 617px;
  margin: 0 auto;
  text-align: center;
}

.company__title {
  font-family: "Arimo", sans-serif;
  font-size: 58px;
  font-weight: 400;

}

.vector__wave {
  vertical-align: middle;
  padding-left: 15px;
  padding-right: 15px;
}

.second__company--title,
span {
  font-family: "Arimo", sans-serif;
  font-size: 58px;
  font-weight: 400;
}

.second__company--title span {
  color: #2468FF;
  margin-right: 38px;
}

.company__subtitle--box {
  max-width: 615px;
  margin: 0 auto;
}

.company__subtitle {
  text-align: center;
  margin-top: 33px;
  font-family: "Space Grotesk", sans-serif;
  font-size: 20px;
  line-height: 27px;
  color: #5E5E5E;
}

.company__talents--blocks {
  max-width: 1220px;
  
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
  gap: 30px;
}


.company__spells {
  background-color: #f5f5f5;
  width: 595px;
  position: relative;
}

.spells__title--box {
  padding: 59px 184px 277px 65px ;
}

.spells__title {
  font-family: "Arimo", sans-serif;
  font-weight: 400;
  font-size: 37px;
  color: #121212;
}

.spells__buff--title {
  max-width: 223px;
}

.spells__buff--paragraph {
  max-width: 243px;
}

/*.spells__debuff {
  max-width: 346px;
}*/

.spells__paragraph {
  margin-top: 19px;
  font-family: "Space Grotesk", sans-serif;
  font-size: 21px;
  line-height: 27px;
  color: #5E5E5E;
}

.spells__img {
  position: absolute;
  margin-top: 109px;
  margin-left: 236px
}

.cursor-vector {
  position: absolute;
  margin-top: 236px;
  margin-left: 470px;
}

.tools {
  max-width: 697px;
  margin: 115px auto 92px auto
}

.tools__title {
  font-family: "Arimo", sans-serif;
  font-size: 58px;
  text-align: center;
  font-weight: 400;
  color: #2468FF;
}

.tools__flex {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 101px;
}

.specialization {
  text-align: center;
  min-width: 187px;
  padding: 13px 12px 15px 11px;
  background-color: #191919;
  border-radius: 500px;
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
  color: #fff;
}

.bg__img {
  display: block;
  margin-right: auto;
  margin-left: auto;
} 

.blockquote-space {
  margin-top: 197px;
}

.select__work {
  margin-top: 47px;
}

.select__work--inner {
  background-color: #f5f5f5;
}

.select__work--top {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 32px;
}

.select__work--title {
  max-width: 458px;
  padding-top: 47px;
  margin-bottom: 63px;
  font-family: "Arimo", sans-serif;
  font-size: 58px;
  font-weight: 400;
  line-height: 64px;
  color: #121212;
}

.select__work--slider {
  display: flex;
  margin-left: 30px;
  overflow: hidden;
  padding-bottom: 100px;
}

.select__slider--img {
  margin-right: 100px;
}

.growmodo__services {
  margin-top: 97px;
  margin-bottom: 101px;
}

.growmodo__title--subtitle {
  max-width: 823px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.growmodo__title {
  font-family: "Arimo", sans-serif;
  font-size: 58px;
  font-weight: 400;
  color: #121212;
  margin-bottom: 33px;
}

.growmodo__subtitle {
  max-width: 437px;
  font-family: "Space Grotesk", sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-right: auto;
  margin-left: auto;
  color: #5E5E5E;
}

.growmodo__services--flex {
  width: 1330px;
  margin-top: 101px;
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
}

.growmodo__services--flex
.growmodo__card:nth-child(3n) {
  margin-right: 0;
}

.growmodo__card {
  max-width: 366px;
  margin-right: 76px;
  margin-bottom: 100px;
}

.service__title {
  margin-bottom: 17px;
  font-family: "Arimo", sans-serif;
  font-size: 21px;
  font-weight: 400;
  color: #121212;
}

.service__text {
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  color: #5E5E5E;
}


.choose__path {
  margin-top: 151px;
  width: 1220px;
  background-color: #2468FF;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.choose__path--inner {
  padding-top: 80px;
  padding-bottom: 87px;
}

.choose__title--subtitle {
  text-align: center;
}

.devs__img {
  margin-bottom: 27px;
}

.choose__title {
  max-width: 804px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 33px;
  font-family: "Arimo", sans-serif;
  font-size: 48px;
  font-weight: 400;
  color: #fff;
}

.choose__subtitle {
  max-width: 497px;
  margin-right: auto;
  margin-left: auto;
  font-family: "Space Grotesk", sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #EBEAEA;
}

.choose__buttons {
  margin-top: 40px;
  text-align: center;
}

.choose__button {
  width: 320px;
  margin-right: 20px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  font-size: 20px;
  background-color: #121212;
  padding: 12px 57px;
  color: #fff;
  border-radius: 5px;
  transition: all 500ms ease; 
}

.choose__button:hover {
  background-color: #fff;
  color: black;
  transition: all 500ms ease; 
}

.choose__buttons 
.choose__button:last-child {
  margin-right: 0;
  background-color: #fff;
  color: #121212;
  border: 2px solid #121212;
}

.choose__buttons 
.choose__button:last-child:hover {
  background-color: black;
  color: whitesmoke;
  border: 2px solid whitesmoke;
  transition: all 500ms ease; 
}
